body {

    align-content: center;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.column {
    float: left;
    width: 40%;
    padding: 0 10px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Responsive columns */
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .img {
        min-height: 200px;
        max-width: 300px;
        display: block;
    }
}

  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;

    text-align: center;

    background-color: #f1f1f1;

    margin-top : 10px;
    margin-bottom : 20px;
    margin-right : 20px;
    margin-left : 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-container{
    width: inherit;
    margin-top: 20px;
}

.img {
    width: 80%;
    height: 300px;

    background-color: black;
    margin: 0 auto;
}