* {
    padding: 0;
    margin: 0;
}
.header{
    font-size: 35px;
}
.body{
  width: 100%;
  height: auto;
  /* background-color: ; // lawak yang buat */
  margin: 0 auto;
}
.table{
  width: 500px;
  height: 500px;;
  color: black;
  background-color: lightblue;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
}
.data{
	font-size: 20px;
	height: 30px;
  margin-left: 20px
}
.create{
  height: 100px;
}
.nama{
	font-size: 20px;
	height: 30px;
	margin-top: 10px;
  margin-left: 20px;
}